

.name {
    text-align: center;
    background: radial-gradient(circle, rgba(218,244,255,1) 100%, rgba(255,255,255,1) 100%);

}

h{
   font-size:60px;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
}

p {

    color: black;

}

.right {
    border-right: 1px solid rgb(57, 57, 57);
}

.frame {
    border-right: 1px solid rgb(57, 57, 57);
    border-left: 1px solid rgb(57, 57, 57);
    border-top: 1px solid rgb(57, 57, 57);
    border-bottom: 1px solid rgb(57, 57, 57);


}

.world{
    padding: 30px;
}

header{

    height: 40px;
    background: radial-gradient(circle, rgba(218,244,255,1) 100%, rgba(255,255,255,1) 100%);
    text-align: center;

}

.color{
    background: radial-gradient(circle, rgba(247,247,247,1) 62%, rgba(255,255,255,1) 100%);
}

